{% extends "layout.html" %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h1>Todo List:</h1>
    <table class="table table-striped">
        <th>#</th><th>User</th><th>Description</th><th>Done</th><th>Actions</th>
        {% for todo in todos %}
            <tr>
                <td colspan="1">{{ todo.id }}</td>
                <td>{{ todo.user_id }}</td>
                <td>
                    <a href="{{ url_for('todo', id=todo.id) }}">
                    {% if todo.done %}<strike>{% endif%}
                        {{ todo.description }}
                    {% if todo.done %}</strike>{% endif%}
                    </a>
                </td>
                <td>
                <form method="post" class="form" action="{{ url_for('todo_mark_as_done', id=todo.id) }}">
                    <input type="hidden" name="done" value="{{ 0 if todo.done else 1 }}" />
                    <button type="submit" class="btn btn-xs {{'btn-default' if todo.done == 0 else 'btn-success'}}"><span class="glyphicon {{'glyphicon-unchecked' if todo.done == 0 else 'glyphicon-check'}}"></span></button>
                </form>
                </td>
                <td>
                <form method="post" class="form" action="{{ url_for('todo_delete', id=todo.id) }}">
                    <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                </form>

                </td>
            </tr>
        {% endfor %}
        <tr>
            <form method="post" action="{{ url_for('todos_POST') }}">
                <td colspan="4">
                    <input type="textbox" name="description" class="small-6 small-center" placeholder="Description...">
                </td>
                <td>
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </td>
            </form>
        </tr>
    </table>
    {{ pagination.info|safe }}
    {{ pagination.links|safe }}
</div>
{% endblock %}